*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  position: fixed;
  left: 25%;
  right: 20%;
  top: 10%;
  grid-template-columns: repeat(8, 6rem);
  /* stylelint-disable-next-line csstree/validator */
  grid-template-rows: minmax(7rem, auto) repeat(5 6rem);
}

.operand {
  grid-column: 1 / -1;
  background-color: #858694;
  height: 10vh;
  margin-top: 10px;
  color: white;
  text-align: right;
  font-size: 42px;
  font-family: 'Times New Roman', Times, serif;
}

.btn {
  height: 5rem;
  font-size: 20px;
  text-align: center;
  grid-column: span 2;
}

.btn1 {
  height: 5rem;
  font-size: 20px;
  text-align: center;
  background-color: #f5913e;
  grid-column: span 2;
}

.btn-equal,
.btn-divide,
.btn-subtract,
.btn-add,
.btn-multiply {
  background: #f5913e;
}

.btn-zero {
  grid-column: 1 / 5;
}
